/* app style */
body {
  background: tan;
  color: black;
}
fieldset {
  font-size: 24px;
}
tr, #headderrow {
  font-size: 24px;
  padding: 5px 15px;
  }

td, #headderrow {
  padding: 10px 15px;
  font-size: 24px;
}
td {
  width: 30px;
  }


button {
  font-size: 20px;
  margin: 20px 40px;
  padding: 10px 20px;

}


h1 {
  font-size: 40px;

}
