/* app style */
body {
  background: #795548;
  color: black;
}
header img {
  float: right;
  margin: 6px 224px 40px 40px;
  
}
label, .storename {
  padding-right: 80px;
}
p {
  padding-top: 30px;
  font-size: 16px;
}
h1 {
  font-family: serif;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 20px;
  margin: 25px auto;
  text-align: center;
}
table {
  background: tan;
  margin-top: 20px;
}
td, .store {
   padding: 5px 10px;
   width: 57px;
   border: solid black;

 }

.shell {
  padding: 20px;
  background-color: tan;
  z-index: 9;
}
tr, #headrow {
  font-size: 16px;
  width: 20px;

}
#store_data_input {
  width: 400px;
  padding: 20px 40px;
  border: solid black;
}

input[type="text"] {
  padding: 7px;
  border: solid 1px #000;
  border-radius: 3px;
  float: right;

}
label {
  padding: 7px;
  float: left;
}
button {
  margin-top: 10px;
  padding: 0px 25px;
  margin-left: 285px;

}
fieldset {
  width: 400px;
}
