/* app style */
div {
  padding-top: 30px;
  font-size: 30px;

}
body {
  background: green;
  color: black;

}

 p {
  padding-top: 30px;
  font-size: 16px;
}


h1 {
  font-family: serif;
  font-size: 40px;
  font-weight: bold;
}

 td {
   padding: 10px;
   width: 10px;
   border: solid black;

 }
.shell thead {
  padding: 15px;
}
td:nth-child(1) {
  padding: 0 100px;
  font-size: 24px;
}
.store {
  font-size: 30px;
  width: 100%;
}
