/* style sheet */

Body {
background-color: #06A5FF;
}
header {
  background-color: #FF2F05;
  font-family: sans-serif;
  font-size: 40px;
  text-align: center;
  padding-bottom: 40px;
}
h1 {
  font-size: 60px;
}

.index_nav a:visited {
  text-decoration: none;
}
.index_nav a:link {
  text-decoration: none;
}
nav {

  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
  padding-left: 50px;
}
nav div {
   display: inline-block;
   padding: 30px 30px;
   font-size: 21px;
   font-family: sans-serif;
   margin-right: 100px;
   border-radius: 10px;
   background-color: #06A5FF;
 }
nav div:hover {
  background-color: #FFDB06;
}


#body_box div img {
  height: 80%;
  width: 80%;
  padding: 20px 33px 10px 33px;
 }

.index_nav {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 85%;
  padding-left: 195px;
}
#images {
  display: inline-flex;
  margin-left: 60px;
}
#images section {
  position: relative;
  height: 300px;
  width: 300px;
  padding-left: 10px;
}
#images span {
  position: absolute;
  display: block;
  width: 300px;
  bottom: 20px;
  font-size: 20px;
  text-align: center;
  background-color: #ffdb06;
}

#images section span img {
  width: 300px;
  height: 300px;
  padding: 0;
}


#body_box {
  margin: 0px 0px 90px 0px;
}

#body_box img{
  float:left;
  width: 426px;
  margin: 0px 0px 0px 10px;
}
#body_box p {
  font-family: sans-serif;
  font-size: 24px;
  width: 800px;
  padding-left: 450px;
}
#body_box h3 {
  font-family: sans-serif;
  font-size: 34px;
  font-weight: bold;
  padding-left: 450px;
  margin-bottom: 10px;
  }
#store_nav {
padding-top: 10px;
padding-bottom: 10px;
width: 85%;
padding-left: 195px;
}


footer {
  clear: both;
}
footer p {

  text-align: center;
  font-size: 18px;
}
#about_us div {
  font-family: sans-serif;
  font-size: 24px;
  padding: 15px 25px;
}
#about_us {
  margin-bottom: 130px;
  display: flex;
}
#recipes div p {
  font-family: sans-serif;
  font-size: 18px;
  padding: 10px 0px;
}
h4 {
  font-family: sans-serif;
  font-size: 30px;
}
#recipes {
  display: inline-flex;
  margin-bottom: 85px;
}
#recipes div {
  padding: 0 15px;
}
#about_us h5 {
  font-weight: bold;
}
#store_footer {
  margin-top: 30px;
}
