/* style sheet */

Body {
background-color: #06A5FF;
}
header {
  background-color: #FF2F05;
  font-family: sans-serif;
  font-size: 40px;
  text-align: center;
  padding-bottom: 40px;
}
h1 {
  font-size: 60px;

}
nav {

  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
  padding-left: 50px;
}
nav div {
   display: inline-block;
   padding: 30px 30px;
   font-size: 21px;
   font-family: sans-serif;
   margin-right: 100px;
   border-radius: 10px;
   background-color: #06A5FF;
 }
nav div:hover {
  background-color: #FFDB06;
}


div img {
   height: 254px;
    width: 464px;

    padding: 33px;
 }

 #images {
   padding: 110px;
 }

#index_nav {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 85%;
  padding-left: 195px;
}


#body_box {
  margin: 0px 0px 0px 0px;
}

#body_box img{
  float:left;
  margin: 0px 0px 0px 0px;
}
#body_box p {
  font-family: sans-serif;
  font-size: 24px;
}
h3 {
  font-family: sans-serif;
  font-size: 34px;
  font-weight: bold;

  }
#store_nav {

padding-top: 10px;
padding-bottom: 10px;
width: 85%;
padding-left: 195px;
}
footer {
  clear: both;
}
footer p {

  text-align: center;
  font-size: 18px;
}
#about_us div {
  font-family: sans-serif;
  font-size: 24px;
  padding: 15px 25px;
}
#about_us {
  display: flex;
}
#recipes div p {
  font-family: sans-serif;
  font-size: 24px;
  padding: 10px;
}
h4 {
  font-family: sans-serif;
  font-size: 30px;
}
#recipes {
  display:flex;
  margin-bottom: 35px;

}
